type ssr, domain;
type ssr_exec, exec_type, file_type;

# Started by init
init_daemon_domain(ssr)

userdebug_or_eng(`
  allow ssr tombstone_data_file:dir search;
')
